/* ServiceFormModal.module.css */
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form textarea {
  resize: vertical;
  height: 150px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkboxLabel input {
  width: auto;
  margin: 10px;
}

.saveButton {
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.saveButton:hover {
  background-color: var(--rich-brown);
}
