.header {
  border-bottom: 2px solid black;
}

.aboutMain {
  padding: 50px 0;
  position: relative;
  overflow: hidden; /* Ensure that pseudo-elements do not overflow the container */
  z-index: 1;
}

/* ------------------ ANIMATIONS ------------------ */

@keyframes moveGradientOne {
  0%,
  100% {
    left: 6vw;
  }
  50% {
    left: 10vw;
  }
}

@keyframes moveGradientTwo {
  0%,
  100% {
    left: 6vw;
  }
  50% {
    left: 4vw;
  }
}

@keyframes fadeGradient {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeGradientAlt {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

.gradientOne,
.gradientTwo {
  z-index: -1;
  position: absolute;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  border-radius: 25px;
}

.gradientOne {
  transform: rotate(-45deg);
  background: linear-gradient(
    to right,
    var(--soft-tan) 0%,
    var(--creamy-beige) 100%
  );
  animation:
    moveGradientOne 20s ease infinite,
    fadeGradient 40s ease infinite;
}

.gradientTwo {
  transform: rotate(45deg);
  background: linear-gradient(
    to right,
    var(--gold-highlight) 0%,
    var(--rich-brown) 100%
  );
  animation:
    moveGradientTwo 20s ease infinite,
    fadeGradient 40s ease infinite;
}

/* The additional layers with reverse the color schemes and opacities */
.gradientOneAlt,
.gradientTwoAlt {
  z-index: -2; /* Ensure these are below the primary gradients */
  position: absolute;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  border-radius: 25px;
}

.gradientOneAlt {
  transform: rotate(-45deg);
  background: linear-gradient(
    to right,
    var(--rich-brown) 0%,
    var(--gold-highlight) 100%
  );
  animation:
    moveGradientOne 20s ease infinite,
    fadeGradientAlt 40s ease infinite reverse;
}

.gradientTwoAlt {
  transform: rotate(45deg);
  background: linear-gradient(
    to right,
    var(--creamy-beige) 0%,
    var(--soft-tan) 100%
  );
  animation:
    moveGradientTwo 20s ease infinite,
    fadeGradientAlt 40s ease infinite reverse;
}

/* ------------------------------------------------- */

.aboutBackground {
  background-color: white;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
}

.aboutTitle {
  padding: 20px 0;
  text-align: center;
}

.aboutSubtitle {
  text-align: center;
  margin-bottom: 30px;
}

.aboutSection {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageWrapper {
  height: 400px;
  width: 1200px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 10px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  object-fit: cover; /* This will cover the area of the wrapper, will be clipped to fit */
  border-radius: 5px;
  max-width: 100%; /* Ensure the image is never larger than the wrapper */
  max-height: 100%; /* Ensure the image height is never larger than the wrapper */
}

.aboutText {
  line-height: 1.6;
  color: #333;
  padding: 20px;
}

@media (max-width: 768px) {
  .aboutMain {
    padding: 0;
  }

  .aboutBackground {
    background-color: white;
    border-radius: 0;
  }

  .aboutSection {
    flex-direction: column;
  }

  .imageWrapper {
    max-width: 400px;
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .aboutImage {
    object-fit: cover;
    object-position: center 20%;
  }

  .aboutText {
    padding: 0;
  }
}
