.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid var(--dark-espresso);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.listItem {
    background-color: var(--color-primary);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.appointmentHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.appointmentDate {
    font-weight: bold;
}

.appointmentStatus {
    font-style: italic;
    color: gray;
}

.appointmentDetails {
    margin-bottom: 10px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border: none;
    background-color: var(--color-tertiary);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--rich-brown);
}
