.dashboardMain {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.dashboardNav {
  width: 250px;
  background-color: var(--dark-espresso);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.dashboardTitle {
  margin: 20px 0;
  font-size: 1.5em;
}

.dashboardNav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.dashboardNav li {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

.dashboardNav li:hover {
  background-color: var(--color-secondary);
  color: var(--dark-espresso);
  border-radius: 4px;
}

.dashboardNav li svg {
  margin-right: 10px;
}

.dashboardNav button {
  padding: 10px 20px;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.dashboardNav button svg {
  margin-right: 10px;
}

.dashboardContent {
  margin-left: 250px; /* To account for the fixed nav */
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f8f8;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid var(--dark-espresso);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  background-color: var(--color-primary);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border: none;
  background-color: var(--color-tertiary);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--rich-brown);
}
