.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.modalContent p {
  margin: 10px 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: darkred;
}

.closeButton {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background-color: #999;
}

.link,
.link:visited {
  color: var(--color-quaternary);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--rich-brown);
}
