.cardClosed {
  border-radius: 4px;
  margin: 10px;
  display: flex;
  min-height: 100%;
  cursor: pointer;
}

.cardOpen {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 100%;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  padding: 20px;
  width: 5%;
  flex-direction: column;
  align-items: center;
}

.questionButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: var(--color-primary);
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
}

.question {
  color: #333;
  margin-bottom: 10px;
}

.answer {
  color: #666;
  flex-grow: 1;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .buttonContainer {
    margin: 0 0 0 15px;
  }
}
