.footer {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 5%,
    var(--color-secondary) 100%
  );
  padding: 20px;
}

/* This is the border at the top of footer */
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Height of the top border */
  background: linear-gradient(
    to right,
    var(--color-primary) 15%,
    var(--color-quaternary) 100%
  );
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.footerLeft {
  flex: 1;
  max-width: 50%;
}

.footerLeft h4 {
  margin-bottom: 10px;
}

.footerLeft p {
  margin: 0;
}

.footerLeft a {
  color: #333;
  text-decoration: none;
}

.emergency {
  color: var(--color-quaternary);
}

.emergency a {
  color: var(--color-quaternary);
}

.nonEmergency {
  padding: 1rem 0;
}

.hours {
  padding: 1rem 0;
}

.copyright {
  margin-top: 1rem;
}

.footerRight {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center; /* Ensures vertical alignment */
}

.status svg {
  margin-right: 10px;
}


@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }

  .footerLeft,
  .footerRight {
    max-width: 100%;
  }
}
