* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
}

/*:root {
  --color-primary: #99bfe3;
  --color-secondary: #4b8bd0;
  --color-tertiary: #2b547a;
}*/
:root {
  --color-primary: #eae2d9;
  --color-secondary: #eac1b1;
  --color-tertiary: #cc8e75;
}

/* NOTE: variables are located and set in the layout.tsx file in the app directory */
body {
  font-family: var(--font-primary); /* Apply Montserrat to all text */
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-special); /* Apply Playfair Display to headers */
}

main {
  background-color: var(--color-primary);
  min-height: 95vh; /* <---- TODO: Possibly delete this */
}
