.main {
  overflow: hidden; /* Prevents the star images from overflowing in mobile view */
}

.headerContainer {
  position: relative;
  height: 100vh; /* Adjusted to leave room for navbar */
  width: 100%;
}

.parallaxBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/home_background_image.JPG");
  background-size: cover;
  background-position: 40%;
  background-attachment: fixed; /* Key property for parallax */
  overflow: hidden;
}

.overlayText {
  position: absolute;
  top: 1%;
  left: 3%;
  transform: none;
  color: #fff;
  z-index: 3;
  width: auto;
}

.overlayText h1 {
  font-size: 8rem;
}

.overlayText2 {
  position: absolute;
  top: calc(
    100vh - 200px
  ); /* Hard coded 200px to get the text above the Nav component */
  left: 3%;
  transform: none;
  color: #fff;
  z-index: 2;
  width: auto;
}

.overlayText2 h4 {
  font-size: 2.5rem;
}

.imageTint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.bookNowButton {
  width: 250px;
  position: absolute;
  top: calc(100vh - 150px);
  left: calc(100vw - 200px);
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--color-primary);
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 1);
  transition: 0.2s;
  text-align: center;
}

.bookNowButton:hover {
  background-color: var(--color-secondary);
  transition: 0.2s;
  box-shadow: none;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: background-color 2s;
  position: absolute;
  top: calc(
    100vh - 70px
  ); /* The 70px is the height of the nav element in the Nav component */
  z-index: 10;
  background-color: var(--color-primary);
}

.sjolieSection {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to bottom, var(--color-primary) 5%, white 100%);
}

.cycleText {
  margin: 20px 0 50px;
}

.textSection {
  padding: 20px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.prepSection {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: auto;
  background-color: white;
}

.prepSection h5 {
  color: var(--color-tertiary);
}

.afterCareSection {
  text-align: center;
  padding: 40px 20px 80px;
  background: linear-gradient(to bottom, white 80%, var(--color-primary) 100%);
}

.afterCareSection h5 {
  color: var(--color-tertiary);
}

.cardSection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  z-index: 0;
}

.sunImage {
  position: absolute;
  border-radius: 5px;
  z-index: -1;
}

.sunImage1 {
  top: 0;
  left: -100px;
}
.sunImage2 {
  top: 95%;
  left: calc(100% - 100px);
}
.sunImage3 {
  top: 85%;
  left: -200px;
}

@media (max-width: 768px) {
  /*TODO when screen is flipped horizontally the overlay tax is broken*/
  .headerContainer {
    height: 100vh;
  }

  .parallaxBackground {
    background-position: center;
  }

  .overlayText h1 {
    font-size: 5rem;
  }

  .overlayText2 {
    top: 85vh;
  }

  .overlayText2 h4 {
    font-size: 2.5rem;
  }

  /*TODO - decide where to put the CTA*/
  /*.bookNowButton {
    top: calc(100vh - 50px);
    left: calc(100vw - 125px);
  }*/

  .navContainer {
    position: absolute;
    justify-content: right;
    top: 0;
    background-color: transparent;
  }

  .sunImage3 {
    top: 85%;
    left: -100px;
  }
}

@media (max-width: 480px) {
  .overlayText h1 {
    font-size: 4rem;
  }

  .overlayText2 {
    top: 88vh;
  }

  .overlayText2 h4 {
    font-size: 2rem;
  }
}
