.overlayText {
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  z-index: 2; /* Ensure it's above the picture and the tint */
}

.headerContainer {
  position: relative;
  height: 100vh; /* Adjusted to leave room for navbar */
  width: 100%;
}

.imageTint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.parallaxBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/home_background_image.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Key property for parallax */
  overflow: hidden;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: background-color 2s;
  position: absolute;
  top: 94vh;
  z-index: 10;
  background-color: #eae2d9;
}

.hero {
  text-align: center;
  padding: 40px 20px;
}
