.header {
  border-bottom: 2px solid black;
}

.servicesMain {
  padding-top: 50px;
}

.servicesHeader {
  /* Styling for the services header section */
  text-align: center;
}

.servicesTitle {
  /* Additional styling for the services section title if needed */
}

.serviceSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates as many 300px columns as the container width allows */
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-items: center;
}

.card {
  margin-bottom: 20px; /* Ensure there is space at the bottom of each card, especially when they wrap */
}
