@keyframes rotateBorderColor {
  0% {
    border-color: var(--color-quaternary);
  }
  20% {
    border-color: var(--color-tertiary);
  }
  40% {
    border-color: var(--color-secondary);
  }
  60% {
    border-color: var(--color-secondary);
  }
  80% {
    border-color: var(--color-tertiary);
  }
  100% {
    border-color: var(--color-quaternary);
  }
}

.recommended {
  border: 2px solid var(--color-tertiary);
  position: relative;
  animation: rotateBorderColor 4s linear infinite;
}

.recommendedLabel {
  position: absolute;
  top: -10px;
  left: 0;
  background: var(--color-tertiary);
  color: white;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  font-size: 0.8rem;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: #333;
  margin-bottom: 10px;
}

.description {
  color: #666;
  flex-grow: 1;
  margin-bottom: 20px;
}

.price {
  color: #333;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: black;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-secondary);
}
